@charset "utf-8";

/* 모바일을 기본CSS*/

#wrap {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

/* info_section */

.info_section {
    width: 100%;
    background-color: #2ecc71;
    border-bottom: 1px solid #39d67c;
    order: 1;
}

.info_list {
    display: flex;
}

.info_list li {
    width: 25%;
    text-align: center;
}

.info_list li a {
    display: block;
    padding: 15px 0;
}


/* header영역 */
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    order: 2;
}

.logo {
    width: 100%;
    text-align: center;
    background: #2ecc71;
    color: white;
    font-size: 20px;
    line-height: 23px;
    text-shadow: 0 1px 1px #25ab5e;
    padding: 30px 0;
}

.nav {
    width: 100%;
}

.gnb {
    display: none;
}

.gnb li {
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
}

.gnb li a {
    width: 80%;
    padding: 20px 0;
    text-indent: 20px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.sub_menu_toggle_btn {
    width: 20%;
    background: url("../images/s_images/sub_menu_toggle_btn.png") center center no-repeat;
    cursor: pointer;
    text-indent: -9999px;
}

.menu_toggle_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../images/s_images/menu_toggle_btn.png") no-repeat;
    text-indent: -9999px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/* slider_section 영역 */
.slider_section {
    width: 100%;
    height: 300px;
    background: url("../images/p_images/slider_01.jpg") center center no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 3;
    z-index: 50;

}

.slider_section span {
    display: block;
    width: 34px;
    height: 39px;
    background: url("../images/s_images/slider_arrow.png") no-repeat;
    cursor: pointer;
    text-indent: -9999px;
}

span.prev_btn {
    margin-left: -10px;
}

span.next_btn {
    background-position: right;
    margin-right: -10px;
}


/* last_post_section영역  popular_post_section 영역 */

.last_post_section h2,
.popular_post_section h2,
.rankup_section h2 {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    text-shadow: 0 1px 1px #ddd;
}

.last_post_list li,
.popular_post_list li {
    margin-top: 15px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    /* list-style: disc; */
    background: url("../images/s_images/post_circle_icon.png") no-repeat center left;
    padding-left: 15px;
    text-shadow: 1px 1px 1px gray;
}



/* last_post_section영역 */

.last_post_section {
    padding: 40px 12%;
    background-color: #ffc40f;
    order: 4;
}


/* popular_post_section 영역 */
.popular_post_section {
    padding: 40px 12%;
    background-color: #a660c2;
    order: 5;
}


/* gallery_section 영역 */

.gallery_section {
    width: 100%;
    background-color: #e65d5d;
    text-align: center;
    color: white;
    padding: 50px 12%;
    text-shadow: 1px 1px 1px gray;
    order: 6;
}

.gallery_section img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray;
    ;
}

.gallery_list li:nth-child(2) {
    margin-top: 30px;
}

.gallery_list figcaption {
    margin-top: 20px;
    font-size: 18px;
}

/* rankup_section 영역 */
.rankup_section {
    background-color: #219af7;
    padding: 40px 12%;
    order: 7;
}

.rankup_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rankup_list li {
    width: 48%;
    margin-bottom: 15px;
}

.rankup_list li a {
    display: block;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px gray;
    box-shadow: 1px 1px 1px gray;
}

/* banner_section 영역 */
.banner_section {
    order: 8;
}

.banner_box1 {
    background: #e6567a;
}

.banner_box1 a {
    display: block;
    padding: 30px 0;
    text-align: center;
}

.banner_box2 {
    background: #c44968;
}

.banner_list {
    display: flex;
    padding: 30px 12%;
    justify-content: space-between;
}

/* sns_section 영역 */
.sns_section {
    background: white;
    padding: 30px 12%;
    order: 9;
}

.sns_list {
    display: flex;
    justify-content: space-between;
}

.sns_list li {}

/* footer영역 */

.footer {
    width: 100%;
    background-color: #474747;
    order: 10;
}

.footer p {
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px 1px gray;
}

/* 태블릿용 */
@media screen and (min-width: 768px) {
    #wrap {
        flex-direction: row;
        flex-wrap: wrap;
        /* flex-flow: row wrap; */
    }

    /* info_section */
    .info_section {
        order: 1;
    }

    /* header영역 */
    .header {
        order: 2;
        flex-direction: row;
    }

    .logo {
        width: 16%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px 0;
        z-index: 1000;
    }

    .nav {
        background: #2ecc71;
        min-height: 80px;
    }

    .gnb {
        position: absolute;
        width: 40%;
        top: 100%;
        right: 0;
        z-index: 20;
    }

    /* slider_section 영역 */
    .slider_section {
        order: 3;
        width: 60%;
        height: auto;
    }

    /* last_post_section영역 */
    .last_post_section {
        order: 5;
        width: 40%;
        padding: 40px 5%;
    }

    /* popular_post_section 영역 */
    .popular_post_section {
        order: 6;
        width: 40%;
        padding: 40px 5%;
    }

    /* gallery_section 영역 */
    .gallery_section {
        order: 8;
        width: 70%;
        padding: 40px 5%;
    }

    .gallery_list {
        display: flex;
        justify-content: space-between;
    }

    .gallery_list li {
        width: 48%;
    }

    .gallery_list li:nth-child(2) {
        margin-top: 0px;
    }



    /* rankup_section 영역 */
    .rankup_section {
        order: 4;
        width: 40%;
        padding: 40px 5%;
    }

    /* banner_section 영역 */
    .banner_section {
        order: 9;
        width: 30%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .banner_box1 {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner_box2 {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px saddlebrown solid; */
    }

    .banner_list {
        width: 80%;
        padding: 30px 5%;
        /* border: 1px saddlebrown solid; */
    }


    /* sns_section 영역 */
    .sns_section {
        order: 7;
        width: 20%;
        padding: 30px 5%;
        height: auto;

    }

    .sns_list {

        flex-direction: column;
        align-items: center;
        height: 100%;
    }


    /* footer영역 */
    .footer {
        order: 10;
        padding: 40px 0;
    }

}

/*768*/


/* pc용 */
@media screen and (min-width: 960px) {

    #wrap {
        width: 90%;
        position: relative;
    }

    /* info_section */
    .info_section {
        width: auto;
        order: 0;
        position: absolute;
        top: 15px;
        right: 30px;
        z-index: 30;
        border-bottom: none;
    }

    .info_list li {
        width: auto;
        margin-left: 15px;
    }

    .info_list li a {
        padding: none;
    }

    /* header영역 */
    .header {
        order: 1;
        justify-content: flex-end;
    }

    .nav {
        width: 84%;

    }

    .gnb {
        display: flex !important;
        width: 100%;
        position: static;
        align-items: center;
        height: 100%;
        text-shadow: 1px 1px 1px gray;
    }

    .gnb li {
        display: block;
        margin-left: 5%;
        background: transparent;
    }

    .sub_menu_toggle_btn {
        display: none;
    }

    .menu_toggle_btn {
        display: none
    }

    /* slider_section 영역 */
    .slider_section {
        order: 2;
        width: 50%;
    }

    /* last_post_section영역 */
    .last_post_section {
        order: 5;
        width: 30%;

    }


    /* popular_post_section 영역 */
    .popular_post_section {
        order: 6;
        width: 30%;

    }

    /* gallery_section 영역 */
    .gallery_section {
        order: 3;
        width: 30%;
    }

    .gallery_list {
        flex-direction: column;
    }

    .gallery_list li {
        width: auto;
    }

    .gallery_list li:nth-child(2) {
        margin-top: 30px;
    }



    /* rankup_section 영역 */
    .rankup_section {
        order: 4;
        width: 20%;
    }

    .rankup_list {
        flex-direction: column;
    }

    .rankup_list li {
        width: auto;
        /* margin-bottom: 2px; */
        list-style: decimal;
        color: white;
    }

    .rankup_list li a {
        border: none;
        box-shadow: none;
        text-align: left;
        font-weight: 400;
        padding: 2px 0;
    }


    /* banner_section 영역 */
    .banner_section {
        order: 7;
        width: 25%;

    }


    /* sns_section 영역 */
    .sns_section {
        order: 8;
        width: 15%;
    }


    /* footer영역 */
    .footer {
        order: 9;
        padding: 20px 0;
    }

    .footer p{
        text-align: left;
        text-indent: 30px;
    }
















}

/*min-width: 960px*/